// @import '~materialize-css/bin/materialize.css';
// @import '~bootstrap/dist/css/bootstrap.css';
.my-btn-success {
  color: #fff;
  background-color: #449d44;
  background-image: none;
  border-color: #419641;
}

.my-btn-outline-success {
  color: #5cb85c;
  background-image: none;
  background-color: transparent;
  border-color: #5cb85c;
}

.my-btn-warning {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #f0ad4e;
}

.my-btn-outline-warning {
  color: #f0ad4e;
  background-image: none;
  background-color: transparent;
  border-color: #f0ad4e;
}
.my-btn-primary {
  color: #fff;
  background-color: #0275d8;
  border-color: #0275d8;
}

.my-btn-outline-primary {
  color: #0275d8;
  background-image: none;
  background-color: transparent;
  border-color: #0275d8;
}

.datepicker {
  width: 100%;
}

.datepicker input {
  width: 100%;
}


.protection {
  width: 100%;
}

.protection button {
  width: 100%;
}

.protection button:active{
  color: initial;
}

.equip-proc {
  width: 100%;
}

.equip-proc select {
  width: 100%;
}

.react-datepicker__input-container {
  width: 100%
}

// body {
// background: yellow;
// width: 600px;
// }
// .onoffswitch {
//   position: relative; width: 90px;
//   -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
// }
// .onoffswitch-checkbox {
//   display: none;
// }
// .onoffswitch-label {
//   display: block;
//   overflow: hidden;
//   cursor: pointer;
//   border: 2px solid #999999;
//   // border-radius: 20px;
// }
// .onoffswitch-inner {
//   display: block;
//   width: 200%;
//   margin-left: -100%;

//   transition: margin 0.3s ease-in 0s;
// }

// .onoffswitch-inner:before, .onoffswitch-inner:after {
//   display: block;
//   float: left;
//   width: 50%;
//   height: 30px;
//   padding: 0;
//   line-height: 30px;
//   font-size: 14px;
//   color: white;
//   font-family: Trebuchet, Arial, sans-serif;
//   font-weight: bold;
//   box-sizing: border-box;
//
//
// }

.onoffswitch-inner-before {
  display: block;
  float: left;
  width: 50%;
  // height: 30px;
  padding: 0;
  line-height: 30px;
  font-size: 14px;
  color: white;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  box-sizing: border-box;
  content: "shield";
  padding-left: 10px;
  // background-color: #34A7C1;
  color: #FFFFFF;
}

.onoffswitch-inner-after {
  display: block;
  float: left;
  width: 50%;
  height: 30px;
  padding: 0;
  line-height: 30px;
  font-size: 14px;
  color: white;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  box-sizing: border-box;
  padding-right: 10px;
  // background-color: #EEEEEE;
  text-align: right;
}
//
// .onoff-inner-after {
//   content: "shield";
//   padding-right: 10px;
//   background-color: #EEEEEE;
//   color: #999999;
//   text-align: right;
// }

.onoffswitch-switch {
  display: block;
  width: 18px;
  margin: 6px;
  background: #FFFFFF;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 56px;
  border: 2px solid #999999;
  border-radius: 20px;
  transition: all 0.3s ease-in 0s;
}

// .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
//   margin-left: 0;
// }

// .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
//   right: 0px;
// }

.prot-legend {
  position: absolute;
  left:0;
  top:0;
  height:100%;
}

.prot-icon {
  position: absolute;
}

.prot-icon label {
  margin-bottom: 0px;
}

